$font-family: Helvetica Neue;

body {
    background-color: #121632;
    min-height: 100vh;
    font-family: $font-family;
}

.main-container {
    margin-top: 25px;
    .tab-panel-container {
        min-height: 200px;
    }
}
